{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Articles{% endblock title %}

{% block content %}
<h1>Edit</h1>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-info ml-2" type="submit">Update</button>
</form>



{% endblock content %}