{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Articles{% endblock title %}

{% block content %}
<h1>New article</h1>
<form action="" method="post">{% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success ml-2" type="submit">Save</button>
</form>



{% endblock content %}