{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Gardening App{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,
  initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>



<body>



    </style>

    <!--Header-->
    <header class="p-3 mb-3 border-bottom">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand size" href="#"> <i class="bi bi-flower1"></i>
                    Green Thumb Guidance | </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">


                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'garden' %}">Lets Grow Something</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'id' %}">Oh, what can we grow</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'article_list' %}">Lets Talk Plants</a>
                        </li>




                        {% if user.is_authenticated %}
                        <li><a href="{% url 'article_new' %}" class="nav-link px-2 link-dark">+ New</a></li>
                    </ul>
                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1"
                            data-bs-toggle="dropdown" aria-expanded="false">

                            {{ user.username }}
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">
                                    Change password</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                        </ul>
                    </div>

                    {% else %}
                    </ul>
                    <div class="text-end">
                        <a href="{% url 'login' %}" class="btn btn-outline-primary me-2">
                            Log In</a>
                        <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </nav>
        </div>
        </div>
    </header>





    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>




    <!--Footer  class="navbar-fixed-bottom"
    <footer class=" nav-bar-fixed-bottom p-5 text-white text-center position-relative text-center"
        style="background-color: #054d3b;">
        <div class="container">
            <p class="lead">Copyright &copy; 2023 Blooming Beauties</p>
        </div>

        footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px;
}
    </footer>-->


    <footer class="bg-info text-center text-lg-start  position-relative">
        <div class="text-center p-3 text text-white" style="background-color: #054d3b">
            © 2023 Copyright:
            <a class="text-white">Green Thumb Guidance</a>
        </div>
        <!-- Copyright -->
    </footer>


    <!-- Bootstrap JavaScript Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>

</html>