{% extends "base.html" %}

{% block title %}Garden{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}! You are {{ user.age }} years old.
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}




{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <title>Blooming Beauties</title>
</head>








<!--Showcase-->
<section class="bg-light text-dark p-5 p-lg-1text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex">
            <div>
                <h1> Gardening <span class="text" style="color:#054d3b"></span>
                </h1>
                <p class="lead my-4">Gardening is about finding the right combination of sunlight, fertile soil, and
                    water to make your plants thrive.
                    It's also about fulfilling your passion, so select plants you love. Use the resources here as a
                    starting point, and
                    in no time you’ll have a beautiful garden, no matter what level of gardening experience you have.

                    Beyond the beauty it
                    brings to outdoor spaces, gardening provides a deep sense of connection to nature and a soothing
                    escape
                    from the hustle of daily life. It promotes physical activity and mental well-being, as tending to
                    plants
                    and watching them thrive can be immensely satisfying. Cultivating a garden also allows individuals
                    to
                    grow their own fresh, organic produce, contributing to healthier diets and a reduced carbon
                    footprint.
                    Moreover, gardens create habitats for pollinators and other wildlife, fostering biodiversity.
                </p>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'images/gardenimage.webp' %}" alt="" />
        </div>
    </div>
</section>



<!--Showcase-->
<section class="bg-light text-dark p-5 p-lg-1 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex">
            <div>
                <h1>The Basics<span class="text" style="color:#054d3b"></span></h1>
                <p class="lead my-4">
                    Beginning gardeners are often intimidated by the process of how to start a garden and care for
                    it successfully—after all, there's a lot involved. From amending your soil with high-quality
                    organic matter to pruning shrubs, you'll find answers and advice for essential gardening tasks.
                    Here are some steps you will want to take to start your own garden:
                <ol>
                    <li>Choose the Right Location: Find a sunny area with good drainage for your garden.</li>
                    <li>Prepare the Soil: Test the soil and amend it with compost to improve fertility and structure.
                    </li>
                    <li>Select Your Plants: Choose plants that match your climate, soil type, and gardening goals.</li>
                    <li>Plan the Layout: Decide on the arrangement and spacing of plants based on their growth habits.
                    </li>
                    <li>Planting: Plant seeds or young plants according to recommended depths and distances.</li>
                    <li>Provide Adequate Water: Water consistently, giving plants enough moisture without overwatering.
                    </li>
                    <li>Mulch for Protection: Apply mulch to retain moisture, prevent weeds, and regulate soil
                        temperature.</li>
                    <li>Monitor and Care: Keep an eye on plant growth, address pest or disease issues promptly, and
                        adjust care as needed.</li>
                </ol>
                </p>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'images/gardentools.jpg' %}" alt="" />
        </div>
    </div>
</section>




<!--Showcase-->
<section class="bg-light text-dark p-5 p-lg-1text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex">
            <div>
                <h1> Watering your garden <span class="text" style="color:#054d3b"></span></h1>
                <p class="lead my-4">Watering a garden is a critical practice that requires a delicate balance.
                    Providing plants with the right amount of water at the appropriate times is essential for their
                    growth and
                    well-being. Regular watering, typically early in the morning or late in the afternoon, helps plants
                    absorb
                    moisture efficiently and reduces the risk of evaporation. It's important to water deeply, allowing
                    the
                    soil to be thoroughly moistened, which encourages plants to develop deep root systems. However,
                    overwatering should be avoided, as it can lead to root rot and other issues. Factors like weather
                    conditions, plant types, and soil type influence the frequency and amount of water needed. By paying
                    attention
                    to the specific needs of each plant and adapting
                    watering practices accordingly, gardeners can foster healthy, vibrant growth throughout their
                    garden.
                </p>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'images/wateringcan.webp' %}" alt="" />
        </div>
    </div>
</section>



<!--Showcase-->
<section class="bg-light text-dark p-5 p-lg-1text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex">
            <div>
                <h1> Soil recipes <span class="text" style="color:#054d3b"></span></h1>
                <p class="lead my-4">
                <h3>1. General Garden Soil Mix:</h3>
                <ul>
                    <li>40% garden soil or topsoil</li>
                    <li>40% compost (to improve soil structure and fertility)</li>
                    <li>20% perlite or vermiculite (for improved drainage and aeration)</li>
                </ul>

                <h3>2. Container Garden Mix:</h3>
                <ul>
                    <li>40% potting mix or compost</li>
                    <li>30% peat moss or coconut coir (to retain moisture)</li>
                    <li>30% perlite or vermiculite (for drainage and aeration)</li>
                </ul>

                <h3>3. Raised Bed Garden Mix:</h3>
                <ul>
                    <li>40% garden soil or topsoil</li>
                    <li>30% compost</li>
                    <li>20% aged manure (to enrich soil with nutrients)</li>
                    <li>10% perlite or vermiculite (for aeration)</li>
                </ul>

                <h3>4. Seed Starting Mix:</h3>
                <ul>
                    <li>50% peat moss or coconut coir</li>
                    <li>30% perlite or vermiculite</li>
                    <li>20% compost (sterilized, to provide nutrients)</li>
                </ul>
                </p>
                </p>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'images/shovel.png' %}" alt="" />
        </div>
    </div>
</section>






<!--Question Accordiom-->
<section id="questions" class="p-5">
    <div class="container">
        <h2 class="text-center mb-4"> Frequently asked Questions
        </h2>
        <div class="accordion accordion-flush" id="Questions">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#question-one" aria-expanded="false" aria-controls="flush-collapseOne">
                        When should I start planting my garden?
                    </button>
                </h2>
                <div id="question-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#Questions">
                    <div class="accordion-body">The timing of planting varies based on your location and the types of
                        plants you're growing.
                        In general, start seeds indoors a few weeks before the last frost date, and for outdoor
                        planting,
                        follow the recommended planting dates for your region.
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-one" aria-expanded="false" aria-controls="flush-collapseOne">
                            What's the difference between compost and fertilizer?
                        </button>
                    </h2>
                    <div id="question-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#Questions">
                        <div class="accordion-body">Compost is a mixture of organic materials that improves soil
                            structure and provides nutrients over time.
                            Fertilizer is a concentrated nutrient source that's applied to plants to promote growth.
                            Compost improves soil health, while fertilizer provides specific nutrients.
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#question-one" aria-expanded="false" aria-controls="flush-collapseOne">
                                How can I deal with garden pests?
                            </button>
                        </h2>
                        <div id="question-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                            data-bs-parent="#Questions">
                            <div class="accordion-body">Integrated Pest Management (IPM) involves using a combination of
                                methods such as physical barriers,
                                beneficial insects, companion planting, and selective pesticide use to manage pests
                                while minimizing harm to beneficial organisms and the environment.
                            </div>
                        </div>
                    </div>
</section>

</body>

</html>




{% endif %}
{% endblock content %}