{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}! You are {{ user.age }} years old.
<p><a href="{% url 'logout' %}">Log Out</a></p>
<p><a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">View all articles</a></p>
<!-- new -->
{% else %}
<p>You are not logged in</p>





{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <title>Green Thumb Guidance, The Gardening Blog</title>
</head>

<body>



    <!--Showcase-->
    <section class="bg-light text-dark p-5 p-lg-1text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex">
                <div>
                    <h1> Welcome to Green Thumb Guidance<span class="text" style="color:#054d3b"></span>
                    </h1>
                    <p class="lead my-4">Here's a short guide to what you will find here..
                    </p>
                    <p class="lead my-4">Under Lets Grow Something, you will find information pertaining to gardening,
                        starting with
                        the basics.
                    </p>
                    <p class="lead my-4">When it comes to Oh, What Can We Grow, you can find information in
                        relation to trees, weeds & flowers.
                    </p>
                    <p class="lead my-4">Lets Talk Plants is a safe blogging space to share your tips, ask questions
                        & help a fellow plant lover.
                    </p>
                    <p class="lead my-4">We hope you like it here.
                    </p>
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="{% static 'images/LOGO.png ' %}" alt="" />
            </div>
        </div>
    </section>





    <main class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary" style="color:#054d3b">
            <div class="col-lg-6 px-0" style="color:#054d3b">
                <h1 class="display-4 fst-italic">Meet the Creator </h1>
            </div>
        </div>


        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }

            .b-example-divider {
                width: 100%;
                height: 3rem;
                background-color: rgba(0, 0, 0, .1);
                border: solid rgba(0, 0, 0, .15);
                border-width: 1px 0;
                box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
            }

            .b-example-vr {
                flex-shrink: 0;
                width: 1.5rem;
                height: 100vh;
            }

            .bi {
                vertical-align: -.125em;
                fill: currentColor;
            }

            .nav-scroller {
                position: relative;
                z-index: 2;
                height: 2.75rem;
                overflow-y: hidden;
            }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

            .btn-bd-primary {
                --bd-violet-bg: #712cf9;
                --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

                --bs-btn-font-weight: 600;
                --bs-btn-color: var(--bs-white);
                --bs-btn-bg: var(--bd-violet-bg);
                --bs-btn-border-color: var(--bd-violet-bg);
                --bs-btn-hover-color: var(--bs-white);
                --bs-btn-hover-bg: #6528e0;
                --bs-btn-hover-border-color: #6528e0;
                --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
                --bs-btn-active-color: var(--bs-btn-hover-color);
                --bs-btn-active-bg: #5a23c8;
                --bs-btn-active-border-color: #5a23c8;
            }

            .bd-mode-toggle {
                z-index: 1500;
            }
        </style>




        <main>

            <div class="album py-5 bg-body-tertiary">
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="mx-auto p-2" style="width: 200px;">
                                    <img src="{%  static 'images/profile-pic.jpg' %}"
                                        class="bd-placeholder-img rounded-circle" class="mx-auto p-2" width="140"
                                        height="140" xmlns="http://www.w3.org/2000/svg" role="img"
                                        preserveAspectRatio="xMidYMid slice" focusable="false">
                                </div>
                                </img>
                                <div class="card-body">
                                    <p class="card-text">Chapin Meny | Full Stack Developer.</p>
                                    <div class="d-flex justify-content-between align-items-center">

        </main>




</body>

</html>






{% endif %}
{% endblock content %}