{% extends "base.html" %}

{% block title %}Home{% endblock title %}


{% block content %}



{% if user.is_authenticated %}
Hi {{ user.username }}! You are {{ user.age }} years old.
<p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}


{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">

</head>




<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Trees<span class="text-muted">
            </span></h2>
        <p class="lead">
            Trees are vital components of ecosystems, playing crucial roles in environmental stability and human
            well-being.
            They provide oxygen through photosynthesis, absorb carbon dioxide, and offer habitat for diverse
            wildlife.
            Trees prevent soil erosion, regulate water cycles, and improve air quality by filtering pollutants.
            Their timber serves as a valuable resource for construction and various industries.
            Understanding tree species is essential as they have distinct growth patterns, shapes, and requirements.
            Proper tree care involves regular pruning, appropriate watering, and protection against pests and
            diseases.
            Urban forests enhance cities by reducing heat, noise, and stress, while also contributing to aesthetic
            appeal.
            Overall, trees are a cornerstone
            of ecological balance and offer numerous practical and aesthetic benefits to both natural and urban
            environments. </p>
    </div>
    <div class="col-md-5">
        <img src="{% static 'images/tree.webp' %}"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Flowers<span class="text-muted" </span></h2>
        <p class="lead">Flowers are reproductive structures of angiosperms, the most diverse group of plants on
            Earth.
            They come in a staggering array of shapes, sizes, and colors, attracting pollinators such as insects,
            birds,
            and bats with their scent and nectar. Through pollination, flowers enable the formation of fruits and
            seeds,
            which contribute to the plant's reproductive success and the production of food for humans and wildlife.
            Flowers can be categorized into various types, including monocotyledons and dicotyledons, each with
            distinct
            characteristics in terms of petal arrangement, number of floral parts, and leaf venation. Understanding
            flower
            anatomy is crucial for identifying plants and studying their reproductive biology. Additionally, flowers
            hold cultural and symbolic
            significance in human societies, often representing emotions, traditions, and events through their
            beauty and fragrance.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="{% static 'images/flower.png' %}"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Weeds<span class="text-muted">
            </span></h2>
        <p class="lead">
            Weeds are plants that grow in unwanted locations and are often considered undesirable due to their
            potential to compete with cultivated plants, disrupt ecosystems, and reduce agricultural productivity.
            They can thrive in various environments, taking advantage of disturbed soil, poor drainage, and other
            unfavorable conditions.
            Weeds reproduce quickly and adapt to changing circumstances, making them resilient and challenging to
            manage. They can spread
            through wind, water, animals, and human activities. Effective weed control involves methods like
            mechanical removal, chemical
            herbicides, mulching, and proper land management practices. Understanding the life cycles and growth
            habits of different weed
            species is essential for developing targeted control strategies. While some weeds have negative impacts,
            others might have beneficial qualities, such as providing habitat and food for wildlife or having
            medicinal properties.</p>
        </p>
    </div>
    <div class="col-md-5">
        <img src="{% static 'images/weeds.png' %}"
            class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
    </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

</div><!-- /.container -->


<!-- Three columns of text -->
<div class="row">
    <div class="col-lg-4">
        <div class="mx-auto p-2" style="width: 200px;">
            <img src="{%  static 'images/garden-gem-tomatoes.webp' %}" class="bd-placeholder-img rounded-circle"
                width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img"
                preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" />
        <h2 class="fw-normal">How to Grow vegetables</h2>
        <p>Growing vegetables involves choosing a sunny location with well-drained soil, testing and amending the soil
            as needed,
            planning the garden layout for optimal spacing and companion planting, selecting suitable seeds or
            seedlings, starting
            seeds indoors when necessary, and directly sowing seeds for some crops. Proper planting, consistent
            watering, mulching,
            fertilizing based on soil quality, and employing integrated pest management strategies to address pests and
            diseases are
            essential steps. Supporting and pruning certain plants, harvesting at the right time, practicing crop
            rotation, and
            providing continuous care through weeding and monitoring contribute to a successful vegetable garden. It's
            important to
            research the specific requirements
            of each vegetable variety and adapt your approach accordingly for a productive and enjoyable gardening
            experience.</p>

    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="mx-auto p-2" style="width: 200px;">
            <img src="{% static 'images/pink-plant.jpg' %} " class="bd-placeholder-img rounded-circle" width="140"
                height="140" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice"
                focusable="false">
        </div>
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" />
        <h2 class="fw-normal">How to Grow Flowers</h2>
        <p>Growing flowers involves selecting an appropriate location with adequate sunlight and well-drained soil,
            preparing the soil by amending it with compost or organic matter, planning the garden layout for optimal
            spacing and aesthetics, choosing suitable flower varieties based on your climate and preferences, and
            either starting seeds indoors ahead of time or directly sowing them in the garden. Providing consistent
            watering, mulching to retain soil moisture and deter weeds, and fertilizing as needed support healthy
            growth.
            Monitoring for pests and diseases, and employing natural pest control methods, ensure the plants'
            well-being.
            Deadheading spent flowers, pruning to promote growth and shape, and practicing proper winter care for
            perennial
            flowers contribute to sustained blooms.Researching the specific care requirements of each flower type will
            help you create a vibrant and visually appealing garden.</p>

    </div>

    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="mx-auto p-2" style="width: 200px;">
            <img src="{% static 'images/diy-tiered-planter.jpg' %}" class="bd-placeholder-img rounded-circle"
                width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img"
                preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#777" />
        <h2 class="fw-normal">DIY projects</h2>
        <p>Transform your garden with a range of engaging DIY projects. Craft raised beds for organized planting,
            vertical structures to maximize space, and compost bins for eco-friendly nourishment. Construct charming
            pathways using stepping stones, while rain barrels conserve water. Design herb spirals for functional
            beauty and birdhouses to welcome wildlife. Create pergolas or arbors for shade and climbing plants.
            Craft benches, sundials, or sculptures for added character. Build container gardens, repurpose materials
            into art, and curate butterfly havens. Illuminate with solar lights, repurpose a wheelbarrow, and infuse
            rock gardens with tranquility. Personalize with signs and unwind on swings or hammocks.
            Infuse color via mosaic art, ultimately customizing your garden for both aesthetic and practical
            delight.</p>

    </div>

    <!--Question Accordiom-->
    <section id="questions" class="p-5">
        <div class="container">
            <h2 class="text-center mb-4"> Frequently asked Questions
            </h2>
            <div class="accordion accordion-flush" id="Questions">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#question-one" aria-expanded="false" aria-controls="flush-collapseOne">
                            What are some common tree diseases and how can they be treated?
                        </button>
                    </h2>
                    <div id="question-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#Questions">
                        <div class="accordion-body">Common tree diseases include Dutch Elm Disease, Oak Wilt, and Apple
                            Scab. Treatment varies
                            depending on the disease and may involve pruning affected parts,
                            applying fungicides, improving tree health, and sometimes removal to prevent spread.

                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#question-one" aria-expanded="false" aria-controls="flush-collapseOne">
                                What is the difference between annual and perennial flowers?
                            </button>
                        </h2>
                        <div id="question-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                            data-bs-parent="#Questions">
                            <div class="accordion-body">Annual flowers complete their life cycle within a single growing
                                season, while
                                perennial flowers come back year after year. Perennials often go dormant in winter and
                                resume growth in spring.
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#question-one" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                    Can weeds have any benefits?
                                </button>
                            </h2>
                            <div id="question-one" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingOne" data-bs-parent="#Questions">
                                <div class="accordion-body">Some weeds may have ecological benefits, such as providing
                                    habitat
                                    for wildlife and supporting pollinators. Additionally, some weeds have medicinal or
                                    edible properties and are used in traditional herbal medicine or for culinary
                                    purposes.
                                </div>
                            </div>
                        </div>
    </section>

    </body>

</html>




{% endif %}
{% endblock content %}